/*Configuracion*/

:root{
    --fondosNaranjas:rgb(236, 135, 3);
    --light-color: #ffff;

    --menu: Poppins-bold;
    --titulo: lobster;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;   
}    

@font-face {
    font-family: lobster;
    src: url('.assets/fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}


/*Header*/

form{
    margin: 80px 550px 0px 550px;
    font-family: var(--menu);
}

table{
    border-radius: 5px;
    border: 3px solid var(--fondosNaranjas);
    padding: 20px;
}

td{
    padding: 30px;
}

.actualizar{
    padding: 5px;
    border-radius: 3px;
    background: green;
    border: 2px solid var(--fondosNaranjas);
    cursor: pointer;
    font-size: 16px;
    color: var(--light-color);
}

 form a{
   text-decoration: none; 
   padding: 5px;
   border-radius: 3px;
   background: var(--fondosNaranjas);
   color: var(--light-color);
    border: 2px solid green;
}