/*Configuracion*/

:root{
    --fondosNaranjas:rgb(236, 135, 3);
    --light-color: #ffff;

    --menu: Poppins-bold;
    --titulo: lobster;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;   
}    

@font-face {
    font-family: lobster;
    src: url('.assets/fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}

/* Fin configuracion */

/*Header*/

header{
    background: var(--fondosNaranjas);
    text-align: center;
    font-size: 50px;
    width: auto;
    
}

.nav{
    font-size: 25px;
    font-family: var(--menu);
}

.logo-nav {
    margin-top:25px;
    margin-bottom:20px;
    margin-left: -35px;
    position:relative;
}

h4{
    color: var(--light-color);
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    width: 1350px;
    height: 45px;
    font-family: var(--menu);
}

nav ul li{
    margin:5px;
    margin-left: 45px;
}

nav ul li a{
    color: var(--light-color);
    text-decoration: none;
    cursor:pointer;
}

nav ul li a:hover{
    color: black;
    transition: 1s;
   
}

/* Fin header */

.icon{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;

}

.icon2{
    font-size: 40px;
    font-family: var(--titulo);
}

.orden{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agr_pedido{
    width: auto;
    display: flex;
}

.agr_pedido form input{
    width: 100%;
    margin-top: 40px;
    padding: 6px 10px 6px 10px;
}

.agr_pedido form input{
    border: 3px solid #3652AD;
    font-size: 20px;
}

.agr_pedido form input:focus{
    filter:drop-shadow(5px 3px 5px #3652AD);
}

.agr_pedido2{
    width: auto;
    margin: 50px auto 0px auto;
}

table {
    font-size: 20px;
    font-family: var(--menu);
    border: 3px solid #280274;
}

td {
    padding: 0px 50px 0px 50px;
    border-right: 2px solid var(--fondosNaranjas);
}

.tabla2 td {
    border-top: 2px solid var(--fondosNaranjas);
    padding: 5px;
    text-align: center;
}

.eliminar {
    text-decoration: none;
    padding: 2px;
    color: white;
    background: red;
    border-radius: 3px;
    font-family: var(--menu);
}

footer{
    background: var(--fondosNaranjas);
    width: 100%;
    text-align: center;
    margin-top: 350px;
    position:absolute;
} 


