/*Configuracion*/

:root {
    --fondosNaranjas: rgb(236, 135, 3);
    --light-color: #ffff;

    --titulo: lobster;
    --menu: Poppins-bold;
}

html{
    position: relative;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: lobster;
    src: url('.assets/fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}

/*Header*/

header {
    background: var(--fondosNaranjas);
    text-align: center;
    font-size: 50px;
    width: auto;

}

.nav {
    font-family: var(--menu);
    font-size: 25px;
}

.logo-nav {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: -35px;
    position: relative;
}

h4 {
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    width: 1350px;
    height: 45px;
    font-family: var(--menu);
}

nav ul li {
    margin: 5px;
    margin-left: 45px;
}

nav ul li a {
    color: var(--light-color);
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    color: black;
    transition: 1s;
}

.container {
    display: flex;
    justify-content: space-between;
}

.productos {
    font-size: 35px;
    margin: 25px 0px 0px 50px;
    padding: 0px;
    font-family: var(--menu);

}

.productos a {
    text-decoration: none;
    color: black;
}

.añadir {
    font-size: 25px;
    margin: 25px 55px 0px 0px;
    padding: 8px;
    font-family: var(--menu);
    background: #75b234;
    
}

.añadir a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}

table{
    font-size: 20px;
    font-family: var(--menu);
    margin: 50px 200px 0px 300px;
    border: 3px solid #75b234;
}

td{
    padding: 0px 60px 0px 60px;
    border-right: 1px solid var(--fondosNaranjas);
}

.tabla2 td{
    border-top: 1px solid var(--fondosNaranjas);
    padding: 5px;
    text-align: center;
}

.eliminar{
    text-decoration: none;
    padding: 2px;
    color: white;
    background: red;
    border-radius: 3px;
    font-family: var(--menu);
}

.editar{
    text-decoration: none;
    padding: 2px 5px 2px 5px;
    color: white;
    background: green;
    border-radius: 3px;
    font-family: var(--menu);
}

footer{
    background: var(--fondosNaranjas);
    width: 100%;
    text-align: center;
    margin-top: 350px;
    position:absolute;
} 

